    .node {
      cursor: pointer;
      }

    .node circle {
      fill: #fff;
      stroke-width: 0.2px;
      }

    .node text {
      font: 10px sans-serif;
      }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
      }

    .parentsLink {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }

    .parents {
      cursor: pointer;
    }

    .death {
      stroke: black;
      stroke-width: 0.5px;
    }

    .spouseDeath {
      stroke: black;
      stroke-width: 0.5px;
    }

    div.tooltip { 
      position: absolute;     
      text-align: center;     
    /* width: 130px;*/
      outline:5px;
      min-width: 90px;
      max-width: 400px;          
      min-height:30px;
      max-height:50px;         
      background: lightsteelblue; 
      font: 12px sans-serif;
      border: 0px;    
      border-radius: 6px;     
      pointer-events: none;  
      white-space: pre;   
    }